# Temporary files
*.tmp
*.swp

# Exported files
*.exe
*.pck
*.pcks
*.apk
*.html
*.zip

# Godot specific folders
myfolder/
import/

# Cache files
.cache

# IDE specific files
.vscode

# config file
*.cfg

